.andry {
 color: chocolate;
 font-family: Impact;
 text-align: center;
 text-transform: capitalize;
 font-family: 'Lato', sans-serif;
 border-style: solid;
 border-width: 15px;
 border-color: black;
 border-radius: 15px;
 border: 2px solid black;
}

div{
 height: 400px;
 width: 100%;
 background-color: orange;
 border-style: solid;
 border-width: 4px;
 border-color: black;
 border-radius: 10px;
}
.cosa{
 float: left;
 padding: 15px;
 text-transform: capitalize;
 font-family: 'Lato', sans-serif;
 border-style: solid;
 border-width: 15px;
 border-color: red;
 border-radius: 15px;
 border: 2px solid black;
}
h1, h2{
 padding: 30px;
 text-transform: capitalize;
 font-family: 'Lato', sans-serif;
 border-style: solid;
 border-width: 15px;
 border-color: black;
 border-radius: 15px;
 border: 2px solid black;
}
.contatti{
 padding: 15px;
 text-transform: capitalize;
 font-family: 'Lato', sans-serif;
 border-style: solid;
 border-width: 15px;
 border-color: red;
 border-radius: 15px;
 border: 2px solid black;
}
.ciao{
 float: left;
 padding: 15px;
 text-transform: capitalize;
 font-family: 'Lato', sans-serif;
 border-style: solid;
 border-width: 15px;
 border-color: red;
 border-radius: 15px;
 border: 2px solid black;
}

.div1{
 border-style: solid;
 border-width: 25px;
 border-color: black;
 border-radius: 15px;
 border: 2px solid black;
 text-transform: capitalize;
}

.cosa2{
 background-color: red;
 padding: 30px;
 text-transform: capitalize;
 font-family: 'Lato', sans-serif;
 border-style: solid;
 border-width: 15px;
 border-color: black;
 border-radius: 15px;
 border: 2px solid black;
}

.button{
 float: left;
 margin-left: 1px;
 padding: 15px;
 text-transform: capitalize;
 font-family: 'Lato', sans-serif;
 border-style: solid;
 border-width: 15px;
 border-color: red;
 border-radius: 15px;
 border: 2px solid black;
 
}
